.match {
    display: flex;
    flex-direction: column;
    height: 140px;
    border: 2px solid var(--primary);
    border-radius: 30px;
    overflow: hidden;
}

.team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px
}

.winner {
    background-color: #63941D;
    color: var(--white);
}

.teamName {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.teamName > a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.teamName > a:hover {
    color: var(--primary);
}


.team:first-child {
    border-bottom: 2px solid var(--primary);
}

.teamScore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.teamScore > span {
    height: 100%;
    width: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid var(--primary);
}
