.match {
    width: 100%;
}

.team {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    background-color: #222222;
    color: var(--white);
}

.team > div {
    flex-grow: 1;
}

.team > div:first-child {
    width: 60%;
}

.team > div:last-child {
    width: 40%;
}

.team1 {
    border-radius: 30px 30px 0 0;
}

.team2 {
    border-radius: 0 0 30px 30px;
}

.teamWin {
    color: var(--black);
    background-color: #93DB2E;
}

.teamName {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.teamPlayer > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.teamPlayer {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    outline: 1px solid transparent;
}

.teamPlayer:hover > span {
    color: var(--primary);
    transition: color 0.15s ease-in-out;
}

.teamWin .teamPlayer:hover > span {
    color: var(--white);
    transition: color 0.15s ease-in-out;
}

.teamScore {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {    
    .team {
        padding: 20px;
    }

    .teamPlayer > img {
        width: 32px;
        height: 32px;
    }
}