.players {
    padding: 40px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    margin-top: 40px;
}

.footer {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;

}

.playersList {
    height: 200px;
    width: 100%;
    border-radius: 20px;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("@/src/assets/images/players-list-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .players {
        padding: 30px 0;
    }

    .playersList {
        height: 150px;
    }

    .footer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .playersList {
        order: 1;
        width: 100%;
    }
}