.statistics {
  padding: 40px 0;
}

.logo {
  margin-bottom: 50px;
}

.description {
  margin-bottom: 30px;
}

.description p {
  font-weight: 500;
  margin-top: 10px;
}

.description p span {
  font-weight: 400;
  color: var(--gray);
}

.filter {
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .statistics {
    padding-bottom: 30px;
  }

  .description {
    margin-bottom: 20px;
  }

  .filter {
    margin-bottom: 30px;
  }
}