.wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.matches {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.matches > div {
    width: calc(50% - 10px);
}

.title {
    margin-bottom: 20px;
}

.empty {
    margin-top: 10px;
    color: var(--gray);
}

@media (max-width: 900px) {    
    .matches > div {
        width: 100%;
    }
}