.gameHistory {
    padding: 60px 0;
}

.empty {
    margin-top: 10px;
    color: var(--gray);
}

.matches {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.matches > div {
    width: calc(50% - 10px);
}

@media (max-width: 900px) {    
    .matches > div {
        width: 100%;
    }
}