.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.tableContainer::-webkit-scrollbar {
  height: 6px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 3px;
}

.tableContainer::-webkit-scrollbar-track {
  background: #222;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: #222222;
  color: #eee;
  border-radius: 30px;
  overflow: hidden;
  font-size: 14px;
}

.table th,
.table td {
  padding: 15px;
  border: 1px solid #333;
  text-align: center;
}

.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(2) {
  text-align: left;
}

.table td {
  font-size: 18px;
  height: 60px;
  font-weight: 500;
}

.table th,
.table td:nth-child(1),
.table td:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
}

.table th {
  color: #8a8a8a;
}

.table .verticalText {
  color: #fff;
}

.empty {
  background: #222;
}

.win {
  color: #b9fc55;
  font-weight: bold;
}

.loss {
  color: #d3595b;
  font-weight: bold;
}

.empty {
  background: #3b3b3b;
}

.verticalText {
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: rotate(-90deg);
  transform-origin: center center;
}

.teamNames {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.teamNames > a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.teamNames > a:hover {
  color: var(--primary);
}

@media (max-width: 900px) {
  .table {
    font-size: 14px;
  }

  .table th {
    height: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: rotate(-90deg);
    transform-origin: center center;
  }

  .table th,
  .table td {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #333;
  }

  .table th,
  .table td:nth-child(1),
  .table td:nth-child(2) {
    font-size: 14px;
  }

  .table th:nth-child(1),
  .table td:nth-child(1),
  .table th:nth-child(2),
  .table td:nth-child(2) {
    padding: 15px;
  }
}
