:root {
    --space: 50px;
}

.extraStages {
    margin-top: 80px;
}

.extraStages > h3 {
    margin-bottom: 40px;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 200px;
    color: var(--white);
}

.error {
    text-align: center;
}

.stages {
    display: flex;
    flex-direction: row;
    gap: var(--space);
    overflow-x: auto;
}

.stages::-webkit-scrollbar {
    height: 6px;
  }
  
  .stages::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 3px;
  }
  
  .stages::-webkit-scrollbar-track {
    background: #222;
  }

.stage {
    width: calc(100% / 4);
    min-width: 200px;
}

.smallStage {
    width: calc(100% / 3);
    min-width: 200px;
}

.stageTitle {
    border-left: 3px solid var(--primary);
    padding-left: 10px;
    margin-bottom: 50px;
}

.matches-0 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 1px;
        height: calc(100% + 290px);
        background: #737373;
        position: absolute;
        top: 70;
        right: calc(var(--space) / 2 * -1);
    }

    > div {
        position: relative;
    }

    > div:after {
        content: "";
        display: block;
        width: calc(var(--space) / 2);
        height: 1px;
        background: #737373;
        position: absolute;
        right: calc(var(--space) / 2 * -1);
        top: calc(50% - 1px);
        transform: translateY(50%);
    }
}

.matches-1 {
    display: flex;
    flex-direction: column;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 1px;
        height: calc(100% - 50px);
        background: #737373;
        position: absolute;
        top: 160px;
        right: calc(var(--space) / 2 * -1);
    }

    &:after {
        content: "";
        display: block;
        width: 1px;
        height: calc(100% - 50px);
        background: #737373;
        position: absolute;
        top: 160px;
        right: calc(var(--space) / 2 * -1);
    }

    > div {
        position: relative;
    }

    > div:nth-child(1) {
        margin-top: 90px;
    }

    > div:nth-child(2) {
        margin-top: 200px;
    }

    > div:nth-child(3) {
        margin-top: 200px;
    }

    > div:nth-child(4) {
        margin-top: 30px;
    }

    > div:before {
        content: "";
        display: block;
        width: calc(var(--space) / 2);
        height: 1px;
        background: #737373;
        position: absolute;
        left: calc(var(--space) / 2 * -1);
        top: calc(50% - 1px);
        transform: translateY(50%);
    }

    > div:after {
        content: "";
        display: block;
        width: calc(var(--space) / 2);
        height: 1px;
        background: #737373;
        position: absolute;
        right: calc(var(--space) / 2 * -1);
        top: calc(50% - 1px);
        transform: translateY(50%);
    }
}

.matches-2 {
    display: flex;
    flex-direction: column;

    > div {
        position: relative;
    }

    > div:nth-child(1) {
        margin-top: 260px;
    }

    > div:nth-child(2) {
        margin-top: 200px;
    }

    > div:nth-child(3) {
        margin-top: 120px;
    }

    > div:nth-child(4) {
        margin-top: 120px;
    }


    > div:before {
        content: "";
        display: block;
        width: calc(var(--space) / 2);
        height: 1px;
        background: #737373;
        position: absolute;
        left: calc(var(--space) / 2 * -1);
        top: calc(50% - 1px);
        transform: translateY(50%);
    }

    > div:after {
        content: "";
        display: block;
        width: var(--space);
        height: 1px;
        background: #737373;
        position: absolute;
        right: calc(var(--space)  * -1);
        top: calc(50% - 1px);
        transform: translateY(50%);
    }
}


.small-matches-0 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;

    > div {
        position: relative;
    }

    > div:nth-child(3) {
        margin-top: 160px;
    }

    &:before {
        content: "";
        display: block;
        width: 1px;
        height: calc(100% - 385px);
        background: #737373;
        position: absolute;
        top: 70;
        right: calc(var(--space) / 2 * -1);
    }


    > div:after {
        content: "";
        display: block;
        width: calc(var(--space) / 2);
        height: 1px;
        background: #737373;
        position: absolute;
        left: 100%;
        top: calc(50% - 1px);
        transform: translateY(50%);
    }

    > div:nth-child(3) {
        &:after {
            width: calc(100% + var(--space) * 2);
        }
    }
}


.small-matches-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;

    > div {
        position: relative;
    }

    > div:nth-child(1) {
        margin-top: 85px;
    }

    > div:before {
        content: "";
        display: block;
        width: calc(var(--space) / 2);
        height: 1px;
        background: #737373;
        position: absolute;
        right: 100%;
        top: calc(50% - 1px);
        transform: translateY(50%);
    }


    > div:after {
        content: "";
        display: block;
        width: var(--space);
        height: 1px;
        background: #737373;
        position: absolute;
        left: 100%;
        top: calc(50% - 1px);
        transform: translateY(50%);
    }
}

.smallWinners {
    display: flex;
    flex-direction: column;

    >div:nth-child(1) {
        margin-top: 150px;
    }

    >div:nth-child(2) {
        margin-top: 110px;
    }
    
    >div:nth-child(3) {
        margin-top: 180px;
    }
}

.winners {
    display: flex;
    flex-direction: column;

    >div:nth-child(1) {
        margin-top: 324px;
    }

    >div:nth-child(2) {
        margin-top: 280px;
    }
    
    >div:nth-child(3) {
        margin-top: 200px;
    }

    >div:nth-child(4) {
        margin-top: 200px;
    }
}

.playoffStage {
    position: relative;
}

.playoff {
    position: absolute;
    bottom: calc(100% - 350px);
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}